@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple utilities for tailwind */
@layer utilities {
  /* Utilized for centralizing content on a flex container. */
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Utilized for centering <select> text. */
  .text-align-last-center {
    text-align-last: center;
  }

  .default-border {
    border: 2px solid var(--border-color);
  }
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-end-rgb: 0, 0, 0;
  --border-color: #18181b;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-end-rgb));
}
.teste {
  background-color: #0e0e1c78;
}
